html {
  font-family: "Poppins";
}

.landing {
  max-width: 1440px;
  margin: 0 auto;
}

.icon {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

/* -------NAVIGATION--------- */

.fixed-navi {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

.navi-bar {
  max-width: 1440px;
  justify-content: space-between;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  padding: 24px 96px 0;
  background-color: rgba(255, 255, 255, 0.947);
}

.navi-bar .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.navi-bar .navigation .navigation-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.navi-bar .navigation .navigation-links a:hover {
  color: #272760;
  text-decoration: underline;
}

.navi-bar .navigation .log-in {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  color: #131313;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 12px;
  background-color: #f5f5f5;
  border: none;
  transition: 0.5s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.navi-bar .navigation .log-in:hover {
  background-color: #cfcfcf;
  color: #272760;
}

.navi-bar .more {
  display: none;
}

@media (max-width: 700px) {
  .fixed-navi {
    width: 100%;
    padding: 0;
  }
  .navi-bar {
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 16px;
  }

  .navi-bar .navigation {
    display: none;
  }

  .navi-bar .more {
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 12px;
    width: 40px;
    height: 40px;
    transition: 0.5s ease-in-out;
  }
  .navi-bar .more:hover {
    transform: scale(1.1);
  }
}

/* ------CONTENT-------- */
.hero-section {
  padding: 105px 96px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* -------TITLE----------- */
.hero-section .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  gap: 24px;
}

.hero-section .title h1 {
  max-width: 825px;
  font-size: 64px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: -2px;
}

.hero-section .title h2 {
  max-width: 610px;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

@media (max-width: 700px) {
  .hero-section {
    padding: 85px 16px 65px;
  }

  .hero-section .title {
    align-items: flex-start;
    text-align: center;
    gap: 32px;
  }

  .hero-section .title h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .hero-section .title h2 {
    font-size: 18px;
    line-height: 29px;
  }
}

/* ------BUTTONS-------- */

.hero-section .buttons {
  display: flex;
  gap: 16px;
  font-size: 18px;
  font-weight: 500;
}

.button {
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hero-section .buttons .start {
  background: #4891ff;
  color: white;
}

.hero-section .buttons .start:hover {
  background-color: #35333c;
  color: #1067e1;
}

.hero-section .buttons .demo {
  display: flex;
  gap: 10px;
}

.hero-section .buttons .demo:hover {
  background-color: #cfcfcf;
  color: #272760;
}

@media (max-width: 700px) {
  .hero-section .buttons {
    flex-direction: column;
    gap: 19px;
    font-size: 16px;
  }
}
/* ---PHOTO-------- */
.hero-section .photo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  column-gap: 24px;
}

.hero-section .photo img:nth-child(1) {
  max-width: 100%;
  height: auto;
}

.hero-section .photo img:nth-child(2) {
  max-width: 100%;
  height: auto;
  margin-top: -130px;
}

@media (max-width: 700px) {
  .hero-section .photo {
    flex-direction: column;
    gap: 17px;
    margin-top: 20px;
  }

  .hero-section .photo img:nth-child(2) {
    margin-top: 0px;
  }
}
/* -----------MAIN SECTION-------------------------------- */
.features {
  display: flex;
  flex-direction: column;
  padding: 0 96px;
}

/* <!-- ----TITLE---------- --> */
.features .features-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin-bottom: 65px;
}

.features .features-title h1 {
  max-width: 835px;
  color: #131316;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
}

.features .features-title h2 {
  max-width: 620px;
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

@media (max-width: 700px) {
  .features {
    padding: 0 16px;
  }

  .features .features-title {
    gap: 16px;
    margin-bottom: 40px;
  }

  .features .features-title h1 {
    font-size: 32px;
    line-height: 38px;
  }
}

/* <!-- ---Dashboard and reporting--- --> */
.features .dashboard .more {
  flex-direction: column;
}

.features .dashboard .more .monitoring {
  display: flex;
  gap: 200px;
}

.features .dashboard .more p:nth-child(1),
.features .dashboard .more p:nth-child(4),
.features .dashboard .more p:nth-child(6) {
  color: #131316;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.features .dashboard .more p:nth-child(2) {
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding: 8px 0 26px;
}

.features .dashboard .more p:nth-child(4),
.features .dashboard .more p:nth-child(6) {
  padding: 12px 0;
}

@media (max-width: 700px) {
  .features .dashboard .more img {
    max-width: 343px;
  }
  .features .dashboard .more .monitoring {
    gap: 70px;
  }
  .features .dashboard .more p:nth-child(2) {
    padding: 0 0 12px;
  }
  .features .dashboard .more p:nth-child(4),
  .features .dashboard .more p:nth-child(6) {
    padding: 8px 0;
  }
}

/* -----------Other blocks---------------------- */
.features .blocks {
  display: flex;
  gap: 24px;
  margin-bottom: 100px;
}

.features .blocks .description {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.features .blocks .description .title h3 {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -1px;
  margin-bottom: 20px;
}

.features .blocks .description .title h5 {
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.features .blocks .description .more {
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-weight: 500;
  transition: 0.25s ease-in-out;
}

.features .blocks .description .more:hover {
  cursor: pointer;
  color: #1067e1;
}

@media (max-width: 700px) {
  .features .blocks {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 40px;
  }

  .features .blocks .description {
    gap: 20px;
  }

  .features .blocks .description .title h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 8px;
  }

  .features .blocks .team-call-image {
    order: 2;
  }

  .features .blocks .to-do-image {
    order: 2;
    padding-bottom: 24px;
  }
}

/* <!-- --VIDEO-SECTION------------ --> */
.video-section {
  background: #131316;
}

.video-section .video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-section .video h1 {
  padding: 97px 0 44px;
  max-width: 767px;
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
}

.video-section .video .video-image {
  border-radius: 16px;
}

.video-section .video .play-button {
  position: relative;
  bottom: 270px;
  animation: play 1s infinite;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

@keyframes play {
  50% {
    transform: scale(1.2);
  }
}

.video-section .video .play-button:hover {
  transform: scale(1.4);
}

.video-section_button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  background: #4891ff;
  margin-bottom: 105px;
}

.video-section_button:hover {
  background-color: #35333c;
  color: #1067e1;
}

@media (max-width: 700px) {
  .landing {
    padding: 0;
  }

  .video-section {
    padding: 0 16px;
  }

  .video-section .video h1 {
    padding: 45px 0 56px;
    font-size: 32px;
    line-height: 38px;
  }

  .video-section .video .video-image {
    max-width: 343px;
  }

  .video-section .video .play-button {
    position: relative;
    bottom: 120px;
    width: 40px;
  }

  .video-section_button {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 85px;
  }
  .video-section .video .line {
    max-width: 343px;
  }
}

/* -------Comment Block--------------------- */
.video-section .comments {
  margin-top: 105px;
  padding: 0 96px 105px;
  max-width: 1270px;
}

.video-section .comments h2 {
  max-width: 836px;
  color: #fff;
  text-align: start;
  font-size: 48px;
  font-weight: 500;
  line-height: 58px;
  letter-spacing: -1px;
  margin-bottom: 65px;
}

.video-section .comments .comments-blocks {
  display: flex;
  gap: 25px;
  overflow: auto;
}

.video-section .comments .comments-blocks .comment1 {
  display: flex;
  box-sizing: border-box;
  max-width: 406px;
  padding: 40px 45px 40px 40px;
  flex-direction: column;
  border-radius: 16px;
  background: #fafafa;
  gap: 48px;
  height: min-content;
  flex-shrink: 0;
}

.video-section .comments .comments-blocks::-webkit-scrollbar {
  display: none;
}
.video-section .comments .comments-blocks .comment1 .comment-description {
  color: #131316;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 30px;
}

.video-section .comments .comments-blocks .comment1 p {
  color: #131316;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}

.video-section .comments .comments-blocks .comment1 .company {
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 700px) {
  .video-section .comments {
    margin-top: 65px;
    padding: 0;
    padding-bottom: 65px;
  }

  .video-section .comments h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    margin-bottom: 40px;
  }

  .video-section .comments .comments-blocks {
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  .video-section .comments .comments-blocks .comment1 {
    padding: 32px 24px;
    flex-direction: column;
    gap: 20px;
  }
}

/* ----------PRICING---------------------------------- */
/* -----Title-------- */
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 60px;
  margin-top: 105px;
  margin-bottom: 120px;
}

.pricing h1 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -3px;
  margin-bottom: 24px;
}

.pricing h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

@media (max-width: 700px) {
  .pricing {
    padding: 0 16px;
    margin-top: 64px;
    gap: 40px;
  }

  .pricing .pricing__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .pricing h1 {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -1px;
    margin-bottom: 16px;
  }
}

/* ------Cards-------------- */
.pricing .pricing__card {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 56px;
  max-width: 288px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .pricing .pricing__card {
    flex-direction: column;
    gap: 24px;
  }

  .card {
    padding: 40px 24px;
    text-align: start;
  }
}

/* ----Header--------- */
.pricing .pricing__card .card_header h3 {
  color: #131316;
  font-size: 36px;
  font-weight: 500;
  line-height: 43px;
  letter-spacing: -0.36px;
  padding-bottom: 16px;
}

.pricing .pricing__card .card_header h4 {
  color: #494a4d;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  padding-bottom: 32px;
}

.pricing .pricing__card .card_header .price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pricing .pricing__card .card_header .price p {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.14px;
}

.pricing .pricing__card .card_header img {
  margin: 20px 0;
}

.pricing .pricing__card .pricing_card_simple {
  background: #fafafa;
  height: min-content;
}

.pricing .pricing__card .pricing_card_premium {
  background: #131316;
}

.pricing .pricing__card .pricing_card_premium .card_header h3 {
  color: #fff;
}

.pricing .pricing__card .pricing_card_premium .card_header h4 {
  color: #e5e7eb;
}

.pricing .pricing__card .pricing_card_premium .card_header .price p {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media (max-width: 700px) {
  .pricing {
    margin-bottom: 60px;
  }
  .pricing .pricing__card .card_header h3 {
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.28px;
    padding-bottom: 4px;
  }

  .pricing .pricing__card .card_header .price {
    gap: 16px;
  }

  .pricing .pricing__card .card_header .price p {
    font-size: 12px;
    line-height: 14px;
  }

  .pricing .pricing__card .card_header img {
    margin: 32px 0;
  }

  .pricing .pricing__card .pricing_card_premium .card_header .price {
    gap: 4px;
  }

  .pricing .pricing__card .pricing_card_premium .card_header .price p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.16px;
  }
}

/* ------Desription-------- */

.pricing .pricing__card .card_description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pricing .pricing__card .card_description .item {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  align-items: flex-start;
}

.pricing .pricing__card .pricing_card_premium .card_description p {
  color: #fff;
  /* padding-right: 26px; */
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

/* -----Button---------- */

.pricing .pricing__card .card_button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  background: #4891ff;
  margin-top: 32px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.pricing .pricing__card .pricing_card_premium .card_button:hover {
  background-color: #35333c;
  color: #1067e1;
}

.pricing .pricing__card .pricing_card_simple .card_button:hover {
  background-color: #cfcfcf;
  color: #272760;
}
/* -------------FOOTER----------------------------------- */

.footer {
  background-color: #131316;
  padding: 110px 0 40px 85px;
}

.footer .icon {
  color: #fff;
  padding-bottom: 42px;
}

@media (max-width: 700px) {
  .footer {
    background-color: #131316;
    padding: 63px 16px 25px;
  }

  .footer .icon {
    color: #fff;
    padding-bottom: 24px;
  }
}

/* -----Info section------------ */
.footer .info {
  display: flex;
  gap: 125px;
}

.footer .info .form-container {
  max-width: 405px;
  box-sizing: border-box;
  padding: 25px;
  border-radius: 16px;
  background: #f4f4f6;
}

.footer .info .form-container .title {
  color: #35333c;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  padding-bottom: 8px;
}

.footer .info .form-container .description {
  color: #131316;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
}

.footer .info .form-container .input-wrapper {
  display: flex;
  gap: 16px;
}

.footer .info .form-container .input-wrapper .subscribe-button {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: #4891ff;
  padding: 12px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.footer .info .form-container .input-wrapper .subscribe-button:hover {
  background-color: #cfcfcf;
  color: #272760;
}

input[type="text"] {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #bebdc6;
  padding: 12px 24px 12px 12px;
}

.footer .info .navigation {
  display: flex;
  gap: 100px;
}

.footer .info .navigation p {
  color: #dfdee2;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 20px;
}

.footer .info .navigation .navigation-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}

.footer .info .navigation .navigation-links a {
  color: #bcc2c3;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  transition: 0.5s ease-in-out;
}

.footer .info .navigation .navigation-links a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .footer .info {
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }
  .footer .info .form-container .input-wrapper {
    gap: 8px;
  }

  .footer .info .form-container .input-wrapper .subscribe-button {
    justify-content: center;
    align-items: center;
  }

  input[type="text"] {
    width: 100%;
    padding: 12px 8px 12px 12px;
  }

  .footer .info .navigation {
    gap: 70px;
    flex-wrap: wrap;
  }
}

/* ------Social Networks-------- */
.footer .social-networks {
  display: flex;
  gap: 16px;
  margin-top: 40px;
  cursor: pointer;
}

.footer .rights {
  color: #bcc2c3;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 65px;
}

@media (max-width: 700px) {
  .footer .social-networks {
    margin-top: 65px;
  }

  .footer .rights {
    margin-top: 24px;
  }
}
